@import 'shared/reset';

html {
  // overflow: hidden;
}

body {
  height: 800vh !important;
}

[data-gl-canvas] {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 9;
}

// [data-gl-scene='boilerplate'] {
//   position: relative;
//   top: 50vh;
//   left: 25vh;
//   width: 50vw;
//   height: 50vh;
//   background-color: lightgrey;
//   // z-index: 10;
//   // opacity: 0.5;
// }

[data-gl-scene-start='boilerplate'] {
  position: relative;
  margin-top: 200vh;
  left: 25vw;
  width: 50vw;
  height: 25vh;
  background-color: lightgrey;
  // z-index: 10;
  // opacity: 0.5;
}

[data-gl-scene-end='boilerplate'] {
  position: relative;
  left: 25vw;
  width: 50vw;
  height: 25vh;
  background-color: darkgrey;
  // z-index: 10;
  // opacity: 0.5;
}
