@import 'shared/reset';

html {
  // overflow: hidden;
}

body {
  height: 300vh !important;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  z-index: 9;
}

[data-gl='objects'] {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  // z-index: 10;
  // opacity: 0.5;
}
